# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Project Files #
#################
*.cbp
*.depend
*.layout
*.sln
*.suo
*.sdf
*.vcproj
*.tlog
*.log
*.vcxproj
*.filters
*.user
*.sdf
*.opensdf
*.sdf
*.idb
*.pdb

# Folders #
###########
Debug\*
x64\*
.vs/*
*.obj
*.enc
*.ilk
